{% extends "back/user/base.html" %}
{% block content %}
    <div class="frame">
        <div class="search">
            <input placeholder="Поиск..." id='search-input'>
            <i class="bi bi-search"></i>
        </div>
        <div class="box-list">
            <ul id='list-users'>
                {% for user in users %}    
                    <li class="user_object" id='{{ user.id  }}'>
                        <div class="user-drawer">
                            <img class="profile-image profile-image-right" src="data:image/png;base64,{{user.icon}}" alt="">
                            <div class="text">
                            <h6>{{ user.username }}</h6></div>
                            <div class='button-send-to-user'><i class="bi bi-chat-dots-fill"></i></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class='create-chat-panel' style='display:none;'>
        <div class="load-icon-chat">
            <div class="icon-chat-">
                <div class="button-load-icon-chat">
                    <i class="bi bi-upload"></i>
                </div>
                <input placeholder="Название чата" id='form-chat-name'>
                <img class="profile-image icon-chat-create" src="data:image/png;base64,{{current_user.icon}}" alt="" style='display:none;'>
            </div>
        </div>
        <h4>Участники чата</h4>
        <div class="box-list">
            <ul id='chat-participants'>    
            </ul>
        </div>
        <div class='bottom_box'>
            <div class="button-close-chat">
                <a>Закрыть</a>
            </div>
            <div class="button-create-chat">
                <a> Создать </a>
            </div>
        </div>
        <div class='text-error'><p id='error-text' style=''></p></div>
    </div>
    <div class='open-menu-create-chat'><div class='body-open-menu-create-chat'>Создать чат</div></div>
    <script id="template-user-button-send-to-user" type="text/jquery-tmpl">
        <li class="user_object" id='${id}'>
            <div class="user-drawer">
                <img class="profile-image profile-image-right" src="data:image/png;base64,${icon}" alt="">
                <div class="text">
                <h6>${username}</h6></div>
                <div class='button-send-to-user'><i class="bi bi-chat-dots-fill"></i></div>
            </div>
        </li>

    </script>
    <script id="template-user-button-add-user-in-chat" type="text/jquery-tmpl">
        <li class="user_object" id='${id}'>
            <div class="user-drawer">
                <img class="profile-image profile-image-right" src="data:image/png;base64,${icon}" alt="">
                <div class="text">
                <h6>${username}</h6></div>
                <div class='button-add-user-in-chat'><i class='bi bi-plus-lg'></i></div>
            </div>
        </li>

    </script>
    <script src="static/back/js/users.js"></script>
{% endblock %}
