* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

body {
    background: rgba(33, 34, 38, 1);
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.register {
    height: 450px;
    width: 600px;

}

.login {

    height: 450px;
    width: 450px;

}

.container {
    height: 100%;
    border-radius: 20px;
    text-align: center;
}

.container {
    background: rgb(54, 56, 61);
    box-shadow: 6px 6px rgb(64, 65, 69);
}

.container h1 {
    user-select: none;
    color: white;
    line-height: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container #submit,
#submit_reg {
    width: 235px;
    height: 45px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;

    border-radius: 10px;
}

.container a {
    margin-bottom: 10px;
}

.container .input {
    display: flex;
    width: 100%;
}

.container .input label {
    width: 250px;
    height: 40px;
    line-height: 40px;
    user-select: none;

}

.container #submit_reg {
    background: rgb(1, 156, 48);
    border-color: rgb(1, 128, 39);
    margin-bottom: 10px;

}

.container #submit_reg:hover {
    color: white;
    background: rgb(1, 128, 39);
}

.container #submit_reg:active {
    color: white;
    box-shadow: 0 0 0 0.25rem rgb(1, 117, 36);
}

.remember_me {
    color: white;
    text-align: left;
    height: 40px;
    line-height: 40px;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}


.form-control {
    width: 100%;
    height: 40px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 2;
    border-radius: 10px;
    color: white;
    border-color: rgb(67, 69, 77);
    background-color: rgb(79, 81, 90);

}

label {
    color: white;
    font-family: inherit;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 0.25rem;
    text-align: left;
}

.error {
    height: 30px;
    color: red;
    padding-bottom: 5px;
    margin-top: 5px;
}

.wrapper-register .input label {
    width: 270px;
    text-align: left;
}

.wrapper-register .input label::after {
    content: ' :';
}

.remember-me-checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }

.remember-me-checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
  }
.remember-me-checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: rgb(36, 37, 41);
    border-radius: 50%;
    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }

  .remember-me-checkbox:checked+label::before {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }