{% extends "back/base.html" %}

{% block content %}
<title>Мессенджер</title>
<div class='frame'>
    <div class="search">
        <input placeholder="Поиск..." id='search-input' type='search'>
        <i class="bi bi-search" ></i>
    </div>
    <div class="box-list">
        <ul id="list-chats">
            {% for chat in chats %}    
            <li class="chat_object" id="chat_{{ chat.id  }}">
                <div class="friend-drawer">
                    <img class="profile-image" src="data:image/png;base64,{{chat.icon}}" alt="">
                    <div class="text" id="last_message_in_chat_id_{{chat.last_message_id}}">
                    <h6>{{ chat.title }}</h6>
                    <p class="text-muted">{{ chat.last_message }}</p>
                    </div>
                    {% if chat.count_new_message %}
                    <div class="count-new-message">{{ chat.count_new_message }}</div>
                    {% else %}
                    <div class="count-new-message" style="background:inherit"></div>
                    {% endif %}
                    <div class="time text-muted small">{{ chat.send_time }}</div>
                  </div>
            </li>
            {% endfor %}    
        </ul>
    </div>
</div>
<div class="chat-panel" id="chat-panel-id" style='display:none;'>
    <div class="chat-frame">
    <div class='chat-box-info '>
        <img class="profile-image" src="" alt="" id='icon-chat'>
        <div class="text text-chat-info">
            <h6 id='title-chat-in-frame'>Robo Cop</h6>
            <p class="text-count-participants">2</p>
        </div>
    </div>
    <div class='chat-box'>
        <ul id='chat-messages'>
        </ul>

    </div>
    <div class='chat-box-send-mes'>
        <div class='box-message-input'>
        <textarea class='message-textarea' id="from-textarea"></textarea>
        </div>
        <div class="button-send-message"><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill='white'>
            <path d="M4.667 26.307v-7.983l17.143-2.304-17.143-2.304v-7.983l24 10.285z"></path>
            </svg></div>
    </div>
</div>       
</div> 

<script src="static/back/js/chat.js"></script>
<script id="template-chat" type="text/jquery-tmpl">
    <li class="chat_object" id="chat_${id}">
        <div class="friend-drawer">
            <img class="profile-image" src="data:image/png;base64,${icon}" alt="">
            <div class="text" id="last_message_in_chat_id_${id_message}">
            <h6>${title}</h6>
            <p class="text-muted"></p>
            </div>
            <div class="count-new-message" style="background:inherit"></div>

            <div class="time text-muted small"></div>
        </div>
    
</script>
<script id="template-message-sent" type="text/jquery-tmpl" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
    <li class='message-sent' id='message_${id}'>
        <div class="message-body">
            <div class="text">
                <h6><span class="time-mes text-mes small">${time_message} </span>${username}</h6>

                <p class="text-mes">${message}</p>
            </div>
            <img class="profile-image" src="data:image/png;base64,{{icon}}" alt="">
        </div></li>
</script>
<script id="template-message-received" type="text/jquery-tmpl" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js">
    <li class='message-sent' id='message_${id}'>
        <div class="message-body">
            <img class="profile-image" src="data:image/png;base64,${icon}" alt="">
            <div class="text">
                <div class="up_handler">
                <h6>${username}</h6>
                <span class="time-mes text-mes small">${time_message}</span></div>
                <p class="text-mes">${message}</p>
            </div>
        
        </div></li>
</script>
{% endblock %}